<nav class="nav-wrapper black">
  <div class="container">
    <a href="/" class="brand-logo">PaySar</a>
  </div>
  <a href="#" data-target="mobile-demo" class="sidenav-trigger">
    <i class="material-icons">menu</i></a>
  <div class="container">
    <ul class="right hide-on-med-and-down">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/policies" class="nav-link">Policies</a></li>
      <li class="nav-item"><a href="/servers" class="nav-link">Servers</a></li>
      <li class="nav-item"><a href="/command" class="nav-link">Command</a></li>
      <li class="nav-item"><a href="/logs" class="nav-link">Log</a></li>
      <li class="nav-item"><a href="/upload" class="nav-link">Uploadfile</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li class="nav-item"><a href="/">Home</a></li>
  <li class="nav-item"><a href="/policies" class="nav-link">Policies</a></li>
  <li class="nav-item"><a href="/servers" class="nav-link">Servers</a></li>
  <li class="nav-item"><a href="/command" class="nav-link">Command</a></li>
  <li class="nav-item"><a href="/logs" class="nav-link">Log</a></li>
  <li class="nav-item"><a href="/upload" class="nav-link">Uploadfile</a></li>

</ul>