<nav>
    <div class="nav-wrapper light-blue darken-4">
        <a href="/" class="brand-logo center">PaySar</a>
        <ul class="left hide-on-med-and-down black">
            <li><a href="/">Home</a></li>
            <li><a href="/command">Command</a></li>
            <li><a href="/logs">Log</a></li>
            <li><a href="/upload">Uploadfile</a></li>
        </ul>
    </div>
</nav>