<ul>
  <li><a href="/dashboard">Dashboard</a></li>
  <li><a href="/users">Users</a></li>
  <li><a href="/policies">Policies</a></li>
  <li><a href="/servers">Servers</a></li>
  <li><a href="/">Logout</a></li>
</ul>