<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %> 
<body>

  <div class="container">
    <div class="row red">
      <div class="col black col-lg-2">
        <%- include ('./partials/nav.ejs') %> 
      </div>
      <div class="col black">
        <div class="container">
          <h1>Dashboard</h1>
        </div>
      </div>
    </div>
    <%- include ('./partials/footer.ejs') %> 
</body>

</html>