<!DOCTYPE html>
<html lang="en">
  <%- include('./part/head.ejs') %>

  <body>
    <%- include('./part/nav.ejs') %>
    <div class="container">
      <h1>Home Page</h1>
      <div>
        <h3>Login</h3>
        <div>
          <form>
            <div>
              <input type="text" />
              <label for="userName">User Name</label>
            </div>
            <div>
              <input type="password" />
              <label for="password">Password</label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('./part/footer.ejs') %>
  </body>
</html>
