<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %> 
<body>
  <div class="container">
    <h2>Login</h2>
    <form method="POST" action="/user" enctype="multipart/form-data">
      <div>
        <input type="text" name="user_name" required autocomplete="off" />
        <label>Username</label>
      </div>
      <div>
        <input type="password" name="password" required autocomplete="off" />
        <label>Password</label>
      </div>
      <input type="submit" value="Login" />
    </form>
  </div>

</body>

</html>