<!DOCTYPE html>
<html lang="en">

<%- include('./part/head.ejs') %>


<body>
    <%- include('./part/nav.ejs')  %>
    <h1>Show Log</h1>
    <ul>
        <li><%= data.cmd %></li>
        <li><%= data.log %></li>
    </ul>
</body>

</html>