<!DOCTYPE html>
<html lang="en">
<!-- <%- include('./part/head.ejs') %> -->

<body>
    <%- include('./part/nav.ejs') %>
    <form action="sNewConf" method="post">
        <label>Source IP address</label>
        <input type="text" name="src_ip" placeholder="0.0.0.0/0" />
        <label>Source Port</label>
        <input type="number" name="src_port" />
        <label>Destination IP address</label>
        <input type="text" name="dst_ip" placeholder="0.0.0.0/0" />
        <label>Destination Port</label>
        <input type="number" name="dst_port" />
        <label>Policy</label>
        <input type="number" name="policy" />
        <label>Log KNXnetip</label>
        <input type="checkbox" name="logKNXnetip" value="logKNXnetip" />
        <label>Log to file</label>
        <input type="checkbox" name="logToFile" value="logToFile" />
        <input type="submit" value="Save">
    </form>
    <%- include('./part/footer.ejs') %>
</body>

</html>