<!DOCTYPE html>
<html lang="en">
<%- include('./part/head.ejs') %>

<body>
  <%- include('./part/nav.ejs') %>

  <div>
    <h1>File Upload</h1>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" />
      <button type="submit" class="btn btn-primary">Run</button>
    </form>
  </div>
  <%- include('./part/footer.ejs') %>
</body>

</html>