<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>

<body>
    <div class="container">
        <div class="row red">
            <div class="col black col-lg-2">
                <%- include ('./partials/nav.ejs') %>
            </div>
            <div class="col black">
                <div class="container">
                    <div id="app" class="container">
                        <h1>Users List</h1>
                        <div v-if="!isEditing">
                            <label for="userName">User Name</label>
                            <input type="text" v-model="user">
                            <label for="password">User Password</label>
                            <input type="text" v-model="pass">
                            <label for="permission">Permission</label>
                            <select id="permission" v-model="selected">
                                <option value="admin">Admin</option>
                                <option value="basic">Read Only User</option>
                            </select>
                            <input type="submit" value="Add" @click="storeUser" class="btn btn-primary">
                        </div>
                        <div v-else>
                            <label for="userName">User Name</label>
                            <input type="text" v-model="user">
                            <label for="password">User Password</label>
                            <input type="text" v-model="pass">
                            <label for="permission">Permission</label>
                            <select id="permission" v-model="selected">
                                <option value="admin">Admin</option>
                                <option value="basic">Read Only User</option>
                            </select>
                            <input type="submit" value="Update" @click="updateUser" class="btn btn-dark">
                        </div>
                        <div v-for="(user, index) in users">
                            <ul>
                                <li>{{ user.user }} - {{ user.pass }} - {{user.selected}}</li>
                                <li><button @click="editUser(index,user.user,user.pass,user.selected)"
                                        class="btn btn-success">Edit</button></li>
                                <li><button @click="removeUser(index)" class="btn btn-danger">Delete</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('./partials/footer.ejs') %>
    <script src="./js/users.js"></script>
</body>

</html>