.row label {
    color: black;
    font-size: 15px;
}

.inputNum {
    width: 15%;
}

.inputText {
    width: 20%;
}

.card {
    padding: 30px;
    background-color: #ffffffea;
    border-radius: 10px;
}

body {
    background-image: url('../pic/cool-background.png')
}