<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <form action="/add_log" method="POST">
        <h1>Enter Command</h1>
        <label for="cmd">Command</label>
        <input type="text" name="cmd" required />
      </form>
    </div>
  </body>
</html>
